<section id="event">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12 order-last order-lg-first">
                <div class="event-content">
                    <h1>BRUNCH WEEKEND</h1>
                    <span class="event-data mt-3">
                        <img src="./assets/icones/filro-mobile-todos.svg" alt=""> 03-15-2019
                    </span>
                    <p class="event-description">
                        Em sintonia com o Brunch Weekend, todos os sábados do mês de Abril, teremos mini aulas de itens
                        que compõem um excelente Brunch.
                        O curso será ministrado por Rafael Despirite e os ingressos já estão disponíveis para compra no
                        link abaixo. Esperamos por você!
                        Com uma programação extensa, o bar promoverá ações culturais, artísticas, gastronômicas e workshops.
                    </p>
                    <a class="btn btn-outline-warning rounded-0 my-3 text-center text-uppercase" href="#">
                        Comprar ingresso
                    </a> <br><br>
                    <a href="https://wa.me/whatsappphonenumber/?text=BRUNCH WEEKEND" target="__blank" class=" p-3 btn-share">
                        <img src="./assets/icones/whatsapp_compartilhar.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 p-0 order-md-first">
                <img src="./assets/desktop/layout/foto-page-evento-desktop.png" class="image-event" alt="">
            </div>
        </div>
    </div>
</section>

<app-footer [location]="location"></app-footer>