<section id="event">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12 order-last order-lg-first">
                <div class="event-content">
                    <h1>Título do evento</h1>
                    <span class="event-data mt-3">
                        <img src="./assets/icones/filro-mobile-todos.svg" alt=""> 03-02-2019
                    </span>
                    <p class="event-description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Nostrum accusantium, saepe veritatis suscipit voluptates deleniti temporibus fuga, 
                        natus possimus placeat quae vero ex, provident neque qui ullam sint sapiente vitae?
                        temporibus fuga, 
                        natus possimus placeat quae vero ex, provident neque qui ullam sint sapiente vitae?
                    </p>
                    <a class="btn btn-outline-warning rounded-0 my-3 text-center text-uppercase" href="#">
                        Comprar ingresso
                    </a> <br><br>
                    <a href="#" class=" p-3 btn-share">
                        <img src="./assets/icones/whatsapp_compartilhar.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 p-0 order-md-first" >
                <img src="./assets/desktop/layout/foto-evento-desktop.png" class="image-event" alt="">
            </div>
        </div>
    </div>
</section>

<app-footer [location]="location"></app-footer>