@font-face {
  font-family: 'TT-Norms-Bold';
  src: url('TT-Norms-Bold.eot');
  src: url('TT-Norms-Bold.eot?#iefix') format('embedded-opentype'),
       url('TT-Norms-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TTNorms-Bold';
  src: url('TTNorms-Bold.svg#TTNorms-Bold') format('svg'),
       url('TTNorms-Bold.ttf') format('truetype'),
       url('TTNorms-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

