<!--The content below is only a placeholder and can be replaced.-->
<app-nav *ngIf="questionAnswer"></app-nav>

<main role="main" *ngIf="questionAnswer; else question">
    <router-outlet></router-outlet>
</main>


<ng-template #question>
    <section id="question">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center question-content">
                    <img src="./assets/desktop/icones/logo-preview-desktop.svg" alt="">
                    <h2 class="text-uppercase mt-5">Para acessar esse conteúdo, <br> precisamos checar sua idade </h2>
                    <h4 class="text-uppercase mt-4">Você tem mais de 18 anos?</h4>
                    <button type="button" class="btn m-2  text-uppercase btn-light rounded-0 btn-question"
                        (click)="can(1)">
                        Sim
                    </button>
                    <button type="button" class="btn m-2 text-uppercase btn-light rounded-0 btn-question"
                        (click)="can(0)">
                        Não
                    </button>
                </div>
            </div>
        </div>
    </section>
</ng-template>