<footer id="locale">
    <div class="container pt-5" *ngIf="location">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="h1 text-uppercase locale-title">Localização</h3>
            </div>
        </div>
        <div class="row  pt-5">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <img src="./assets/icones/icone-localizacão.svg" alt="">
                        <span class="ml-2">R. Fernão Dias, 672 - Pinheiros, São Paulo - SP, 05424-090</span>
                    </div>
                    <div class="col-md-12 my-4">
                        <img src="./assets/icones/icone-telefone.svg" alt="">
                        <span class="ml-2">(11) 3031-5099</span>
                    </div>
                    <div class="col-md-12 mb-5">
                        <h5 class="text-uppercase">Nos acompanhe</h5>
                        <a href="https://www.facebook.com/HoegaardenBrazil/" target="_blank" rel="noopener noreferrer">
                            <img src="./assets/icones/icone-facebook.svg" alt="" class="ml-0 mt-2 mb-2 mr-2">
                        </a>
                        <a href="https://www.instagram.com/hoegaarden/" target="_blank" rel="noopener noreferrer">
                            <img src="./assets/icones/icone-instagram.svg" alt="" class="m-2">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 maps-div">
                <iframe class="maps"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.0420815886337!2d-46.69781368549134!3d-23.566932067682096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce57a720b266a3%3A0x5020ca17f9ecde3c!2sR.+Fern%C3%A3o+Dias%2C+672+-+Pinheiros%2C+S%C3%A3o+Paulo+-+SP%2C+05424-090!5e0!3m2!1spt-BR!2sbr!4v1553537537731"
                     frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="mm-rights">
        <div class="row p-4">
            <div class="col-lg-6 col-md-6 rights">
                <span>Todos direitos reservados</span>
            </div>
            <div class="col-lg-6 col-md-6 dev-rights">
                <span class="pr-4 text-uppercase">
                    Desenvolvido por: <a href="https://www.marketingmanager.com.br/" target="__blank"><img
                            src="./assets/icones/logo-marketing-manager.svg" alt="" class="ml-2"></a>
                </span>
            </div>
        </div>
    </div>
</footer>