<footer id="locale">
    <div class="container pt-5" *ngIf="location">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="h1 text-uppercase">Localização</h3>
            </div>
        </div>
        <div class="row  pt-5">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <img src="./assets/icones/icone-localizacão.svg" alt="">
                        <span class="ml-2">Rua dos lúpolos, 134 - Vila Matilde São Paulo - SP</span>
                    </div>
                    <div class="col-md-12 my-4">
                        <img src="./assets/icones/icone-telefone.svg" alt="">
                        <span class="ml-2">(11) 0000-0000</span>
                    </div>
                    <div class="col-md-12 mb-5">
                        <h5 class="text-uppercase">Nos acompanhe</h5>
                        <img src="./assets/icones/icone-facebook.svg" alt="" class="ml-0 mt-2 mb-2 mr-2">
                        <img src="./assets/icones/icone-instagram.svg" alt="" class="m-2">
                    </div>
                </div>
            </div>
            <div class="col-md-6 ">
                <!-- <iframe class="maps"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14631.208669636972!2d-46.53532542721283!3d-23.539616832937647!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5e0fe367e183%3A0xf38b46bed1b8afb2!2sVila+Matilde%2C+S%C3%A3o+Paulo+-+SP!5e0!3m2!1spt-BR!2sbr!4v1553202063536"
                     frameborder="0" style="border:0" allowfullscreen></iframe> -->
            </div>
        </div>
    </div>
    <div class="container-fluid" id="mm-rights">
        <div class="row p-4">
            <div class="col-6">
                <span>Todos direitos reservados</span>
            </div>
            <div class="col-6 text-right">
                <span class="pr-4 text-uppercase">
                    Desenvolvido por: <img src="./assets/icones/logo-marketing-manager.svg" alt="" class="ml-2">
                </span>
            </div>
        </div>
    </div>
</footer>