<header id="cover-home" class="">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12  cover-content">
                <div class="cover-text position-absolute">
                    <h1 class="text-uppercase" style="color: #FFF">A primeira casa Hoegaarden do mundo</h1>
                    <p>
                        Um verdadeiro vilarejo belga no meio de São Paulo.
                        Lugar para você parar, enquanto o resto da cidade corre!
                    </p>
                </div>
                <div class="position-absolute scroll-down w-100 text-center">
                    <a href="javascript:void(0)" class="" (click)="go('#green-house')">
                        <img src="./assets/icones/seta-azul-header.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<section id="about" class="mb-5">
    <div class="container-fluid ">
        <div class="row pt-4">

            <div class="col-lg-11 col-md-12 mx-auto " style="z-index: 2">
                <div class="row">
                    <div class="col-lg-6  desktop text-center bottle">
                        <img src="./assets/desktop/layout/garrafa_desktop.png" alt="ALTERAÇÃO 1">
                    </div>
                    <div class="col-lg-6  col-md-12  about-text">
                        <div class="about-content">
                            <h2 class="h1 text-uppercase about-title">A Hoegaarden</h2>
                            <p class="my-3 ">
                               Hoegaarden é a cerveja belga witbier mais premiada e famosa do mundo. Conhecida por sua refrescância e sabor único caracterizada pelo trigo aromatizado com casca de laranja e sementes de coentro. Mas somente aqui na Greenhouse, você pode experimentar a versão da Hoegarden em chopp.
                            </p>
                            <a  href="https://www.emporiodacerveja.com.br/Hoegaarden" target="__blank"
                                class="btn btn-outline-warning px-5  rounded-0 text-center text-uppercase">
                                Comprar agora
                            </a>
                        </div>
                        <img src="./assets/mobile/layout/garrafa_mobile.png" alt="ALTERAÇÃO 1" class="position-absolute mobile"
                            style="top: 0; right: 0; z-index: -1;">
                    </div>
                </div>
            </div>


            <div class="col-md-12 green-house" id="green-house">
                <div class="green-house-content">
                    <h3 class="text-uppercase">A GREENHOUSE</h3>
                    <p>
                        Inspirado no vilarejo belga onde nasceu a Hoegaarden, o Greenhouse localizado no bairro de
                        Pinheiros
                        é muito mais que um bar é um convite para as pessoas se desligarem do caos urbano e aproveitarem
                        um
                        local cercado pela natureza, com 264 plantas de 38 espécies, além de paisagem sonora artística.

                        E um lugar tão especial, merece um cardápio único! Por isso o renomado chef Raphael Despirite
                        traz
                        um menu no estilo “farm to table”, comida fresca e saudável, produtos orgânicos e de pequenos
                        produtores, tudo isso com referências belgas e baixo desperdício.

                        Venha conhecer o primeiro bar proprietário da Hoegaarden no mundo e provar a melhor witbier
                        belga em
                        São Paulo!
                    </p>
                    <button type="button" class="btn btn-outline-warning btn-next-event py-lg-2 py-md-1 py-sm-1 px-lg-4 px-md-2 
                                 px-sm-1 rounded-0 my-4 text-center text-uppercase" [routerLink]="['home', 'events']">
                        Ver Proxímos eventos
                    </button>


                </div>
                <div class="carrosel-float">
                    <div id="carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block " src="./assets/desktop/layout/bar-greenhouse-foto_um.jpg"
                                    alt="Carousel 1">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block" src="./assets/desktop/layout/bar-greenhouse-foto_dois.jpg"
                                    alt="Carousel 2">
                            </div>
                            <div class="carousel-item ">
                                <img class="d-block" src="./assets/desktop/layout/bar-greenhouse-foto_tres.jpg"
                                    alt="Carousel 3">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block" src="./assets/desktop/layout/bar-greenhouse-foto_quatro.jpg"
                                    alt="Carousel 4">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block " src="./assets/desktop/layout/bar-greenhouse-foto_cinco.jpg"
                                    alt="Carousel 5">
                            </div>
                            <div class="carousel-item  ">
                                <img class="d-block " src="./assets/desktop/layout/bar-greenhouse-foto_seis.jpg"
                                    alt="Carousel 6">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carousel" style="opacity: 1" role="button"
                            data-slide="prev">
                            <img src="./assets/icones/seta-carrrossel-esquerda.svg" alt="">
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel" style="opacity: 1" role="button"
                            data-slide="next">
                            <img src="./assets/icones/seta-carrossel-direita.svg" alt="">
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>
<app-eventos></app-eventos>
<app-footer></app-footer>